<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generating Random User</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <img :class="gender" v-bind:src="picture" :alt="firstName" />
      <h1>{{firstName}} {{lastName}}</h1>
      <h3>{{email}}</h3>
      <button v-on:click="getUser()" :class="gender">Gemerate User</button>
    </div>
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="app.js"></script>
  </body>
</html>
